* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  font-family: Tahoma;
  background-color: #FEFBEA;
  margin: 0;
  padding: 0;
  min-height: 100vh;

}

.game-over-message {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2vh;
  color: darkred;
}


.title {
  font-size: 5rem;
  font-style: italic;
  text-align: center;
  color: #98FB98;
  background-color: tan;
  border-radius: 10px;
  border: 2px solid black;

  text-shadow:
     2px -2px 0 black,
     2px  2px 0 black;
}

.title-container {
  padding-top: 5vh;
  max-width: 50%;
  margin: 0 auto;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  padding-top: 3vh;
  justify-content: center;
  text-align: center;
}

.start-screen button {
  font-family: Tahoma; 
  padding: 12px 24px;
  font-size: 2rem;
  background-color: #538d4e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.start-screen button:hover {
  background-color: #6aaa64;
}

.board {    
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.line {
  display: flex;
  gap: 5px;
}

.tile {
  width: 7vh;
  height: 7vh;
  border: 2px solid black;
  font-size: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: black;
}

.keyboard {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.key-row {
  display: flex;
  gap: 5px;
}

.key {
  width: 4vh;
  height: 6vh;
  border-radius: 4px;
  background-color: lightgray;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  border: 1px solid black;
}

.correct,
.close,
.incorrect,
.key.correct,
.key.close,
.key.incorrect {
  color: white;
}

/* Specific colors */
.correct,
.key.correct {
  background-color: lightgreen;
}

.close,
.key.close {
  background-color: orange;
}

.incorrect,
.key.incorrect {
  background-color: gray;
}

/* Keyboard layout */
.keyboard {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}
